{{#rstReference}}
.. _{{rstReference}}:

{{/rstReference}}

{{#h3}}.{{name}}{{/h3}}
{{#type}}Type: {{^type.link}}:doc:{{/type.link}}`{{#type.names}}{{.}}{{/type.names}}{{#type.link}} <{{.}}>{{/type.link}}`_{{/type}}

