{{#h1}}Welcome to Box Critters's documentation!{{/h1}}

.. toctree::
   :maxdepth: 1

   {{#pre}}
   {{>toctreeChildren}}
   {{/pre}}

{{#h2}}Indices and tables{{/h2}}

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
